html, body{
  margin:0;
  padding: 0;
    font-family: Verdana, sand-sans-serif;
    background: #ddd url("mountainsbackground.jpg") repeat fixed;
    background-size: contain;

}
header, nav, section, footer{
/*  border: 1px solid black; */
}

#Wrap{
  width: 70%;
  /*border: 2px solid Black;*/
  margin: 0 auto;
  background-color: white;
}
header{
  text-align: center;
  padding: 10px;
  background-color: darkgreen;
}
header img {
  Width: 40%;
}

nav{
  Background-color: Lightgreen;
padding: 20px 0;
font-size: 15px;
font-weight: bold;
text-align: center;
}

nav a {
  color: white;
  padding: 20px 40px;
  text-decoration: none;
}

nav a:hover{
  background-color: darkgreen;
  color: white;
}


nav li{
 display: inline

}

nav ul{
  margin: 0;
  padding: 0;
}

section{
padding: 50px;
overflow: auto;
}

section h1{
color: Lightgreen;
margin: 0
font-size: 200%;
}

footer {
  background-color: green;
  color: white;
  text-align: center;
padding: 10px;
}

.map{
  width: 30%;
  float: right;
}

.button{
background-color: green;
color: white;
padding: 15px;
font-size: 150%;
text-decoration: none;
font-weight: bold;
border-radius: 10px;
display: inline-block;
}
